
@{
    ViewBag.Title = "ProcessOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="my-4 mx-3">
    <h4 class="text-center text-success d-none d-sm-block">Your order has been placed successfully. Please click <a href="@Url.Action("Index", "Home", new { area = "" })">Here</a> to go back to home page!!!</h4>
    <h3 class="text-center text-success small d-block d-sm-none">Your order has been placed successfully. Please click <a href="@Url.Action("Index", "Home", new { area = "" })">Here</a> to go back to home page!!!</h3>
</div>

