@*@model IEnumerable<SStore.Models.Product>
*@

@model List<SStore.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/chart.min.js"></script>

<div class="container-fluid my-2">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item breadcrumb-client-active">Dashboard</li>
        </ol>
    </nav>
    <h1 class="text-center my-3 admin-page-title text-uppercase">Dashboard</h1>
    <main>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Area Chart Example
                    </div>
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Bar Chart Example
                    </div>
                    <div class="card-body">
                        @Html.Action("GetProductView", "Dashboard")
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script type="text/javascript">

    var ctx = document.getElementById('myChart').getContext('2d');


    var ProductName = [];
    var View = [];
    console.log(ProductName);
    console.log(View);
    @if(Model.Count>0)
    {
        foreach(var item in Model)
                {
                    @:ProductName.push("@item.ProductName");
                    @:View.push(@item.View);
                }
    }


        var myChart = new Chart(ctx, {
        type: 'bar',
            data: {
                labels: ProductName,
            datasets: [{
                label: '# of Votes',
                data: View,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
        scales: {
            y: {
                beginAtZero: true
                }
            }
        }
        });
</script>

