
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Slider-->
@Html.Action("Slider", "Home")

<!--Content-->
<!--New product partial-->
<div class="container my-5">
    <div class="text-center">
        <h1 class="home-partial-title">NEW PRODUCT</h1>
        <hr />
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        @Html.Action("NewProductListPartial", "Home")
    </div>
</div>

<!--Hot product partial-->
<div class="container my-5">
    <div class="text-center">
        <h1 class="home-partial-title">HOT PRODUCT</h1>
        <hr />
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        @Html.Action("HotProductListPartial", "Home")
    </div>
</div>

<!--Fashion partial-->
<div class="container my-5">
    <div class="text-center">
        <h1 class="home-partial-title">FASHION</h1>
        <hr />
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        @Html.Action("FashionProductListPartial", "Home")
    </div>
</div>
