
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Slider-->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Image/wp2461125.jpg" style="max-height:700px; width:100%" class="store-slide" />

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Example headline.</h1>
                    <p>Some representative placeholder content for the first slide of the carousel.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://wallpaperaccess.com/full/5092919.jpg" style="max-height:700px; width:100%" class="store-slide" />

            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://wallpapercave.com/wp/wp2461161.jpg" style="max-height:700px; width:100%" class="store-slide" />

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--Content-->
<!--New product partial-->
<div class="container my-5">
    <div class="text-center">
        <h1 class="home-partial-title">NEW PRODUCT</h1>
        <hr />
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        @Html.Action("NewProductListPartial", "Home")
        @Html.Action("NewProductListPartial", "Home")
    </div>
    <hr />
</div>

<!--Hot product partial-->
<div class="container my-5">
    <div class="text-center">
        <h1 class="home-partial-title">HOT PRODUCT</h1>
        <hr />
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        @Html.Action("HotProductListPartial", "Home")
    </div>
    <hr />
</div>

<!--Fashion partial-->
<div class="container my-5">
    <div class="text-center">
        <h1 class="home-partial-title">FASHION</h1>
        <hr />
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        @Html.Action("FashionProductListPartial", "Home")
    </div>
    <hr />
</div>
