
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-2 mb-sm-5 mb-3">
    @* Breadccrumb *@
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new {area = ""})" class="breadcrumb-client"><i class="bi bi-house-door"></i> Home</a></li>
            <li class="breadcrumb-item breadcrumb-client-active">Privacy & Policy</li>
        </ol>
    </nav>
    @* Page Title *@
    <h2 class="text-uppercase text-center page-title">Privacy & Policy</h2>
    <h5>1. Pivacy Policy</h5>
    <p class="fw-bold m-0">We will/may collect personal data about you:</p>
    <ul>
        <li>
            when you register and/or use our Services or Platforms or open an account with us.
        </li>
        <li>
            when you submit any form, including, without limitation, application or other forms in connection with any of our products and services.
        </li>
        <li>
            when you enter into any agreement or provide documents or other information related to your interactions with us or when you use our products and services.
        </li>
        <li>
            when you grant permission on your device to share information with our apps or Platforms.
        </li>
        <li>
            when you make transactions through our Services.
        </li>
        <li>
            when you give us feedback or complaints.
        </li>
        <li>
            when you submit your personal data to us for any reason.
        </li>
    </ul>


    <h5>2. Return & Refund Policy</h5>
    <ul>
        <li>
            Sadly, here are tines whan we may not have the product(s) that you choose in stock, or may face some Issues with our inventory and quality check. In such cases, we may have to cancel your order. You wil be intimated about it in advance so that you dont have to worry unnecessarily about your order. If you have purchased via Online payment (not Cash on Delvery) ,then you wil be refunded once our team confirms your request.
        </li>
    </ul>

    <h5>3. Payment Policy</h5>
    <ul>
        <li>
            SStore standard payment terms are 60 days.
            Due date is calculated by applying agreed terms to the latter of valid invoice presented or goods receipt date. All invoices are paid on our calculated due date.
        </li>
    </ul>

    <h5>4. Shipping Policy</h5>
    <ul>
        <li>
            SStore is not responsible for return shipping costs. Every shipping has to be paid by the customer, even if the item had free shipping in the first place, the customer has to pay for the shipping in return

        </li>
    </ul>

    <h5>5. Questions, conerns or complaints? Contact us</h5>
    <p>If you have any questions or concerns about our privacy practices, we welcome you to contact us by e-mail at <span class="text-info">hoangngcd18786@fpt.edu.vn</span></p>
</div>

